body {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.movie-details {
  opacity: 0.8;
}

.text-gold {
  color: #d2b887;
}

.navbar-nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
